.elementor-137 .elementor-element.elementor-element-de2708f{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;--gap:30px 30px;--background-transition:0.3s;--overlay-opacity:1;--padding-top:15px;--padding-bottom:15px;--padding-left:30px;--padding-right:30px;}.elementor-137 .elementor-element.elementor-element-de2708f::before, .elementor-137 .elementor-element.elementor-element-de2708f > .elementor-background-video-container::before, .elementor-137 .elementor-element.elementor-element-de2708f > .e-con-inner > .elementor-background-video-container::before, .elementor-137 .elementor-element.elementor-element-de2708f > .elementor-background-slideshow::before, .elementor-137 .elementor-element.elementor-element-de2708f > .e-con-inner > .elementor-background-slideshow::before, .elementor-137 .elementor-element.elementor-element-de2708f > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{--background-overlay:'';background-color:transparent;background-image:linear-gradient(180deg, var( --e-global-color-accent ) 15%, #FFFFFF00 100%);}.elementor-137 .elementor-element.elementor-element-de2708f, .elementor-137 .elementor-element.elementor-element-de2708f::before{--border-transition:0.3s;}.elementor-137 .elementor-element.elementor-element-3c613bb .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(0px/2);}.elementor-137 .elementor-element.elementor-element-3c613bb .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(0px/2);}.elementor-137 .elementor-element.elementor-element-3c613bb .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(0px/2);margin-left:calc(0px/2);}.elementor-137 .elementor-element.elementor-element-3c613bb .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-0px/2);margin-left:calc(-0px/2);}body.rtl .elementor-137 .elementor-element.elementor-element-3c613bb .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-0px/2);}body:not(.rtl) .elementor-137 .elementor-element.elementor-element-3c613bb .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-0px/2);}.elementor-137 .elementor-element.elementor-element-3c613bb .elementor-icon-list-icon i{transition:color 0.3s;}.elementor-137 .elementor-element.elementor-element-3c613bb .elementor-icon-list-icon svg{transition:fill 0.3s;}.elementor-137 .elementor-element.elementor-element-3c613bb{--e-icon-list-icon-size:14px;--icon-vertical-offset:0px;width:var( --container-widget-width, calc(50% - 130px) );max-width:calc(50% - 130px);--container-widget-width:calc(50% - 130px);--container-widget-flex-grow:0;}.elementor-137 .elementor-element.elementor-element-3c613bb .elementor-icon-list-item > .elementor-icon-list-text, .elementor-137 .elementor-element.elementor-element-3c613bb .elementor-icon-list-item > a{font-family:"Montserrat", Sans-serif;font-size:12px;font-weight:700;text-transform:uppercase;letter-spacing:1px;}.elementor-137 .elementor-element.elementor-element-3c613bb .elementor-icon-list-text{color:var( --e-global-color-primary );transition:color 0.3s;}.elementor-137 .elementor-element.elementor-element-3c613bb.elementor-element{--flex-grow:1;--flex-shrink:0;}.elementor-137 .elementor-element.elementor-element-7393cb4 .elementor-menu-toggle{margin:0 auto;}.elementor-137 .elementor-element.elementor-element-7393cb4 .elementor-nav-menu--dropdown a, .elementor-137 .elementor-element.elementor-element-7393cb4 .elementor-menu-toggle{color:var( --e-global-color-accent );}.elementor-137 .elementor-element.elementor-element-7393cb4 .elementor-nav-menu--dropdown a:hover,
					.elementor-137 .elementor-element.elementor-element-7393cb4 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-137 .elementor-element.elementor-element-7393cb4 .elementor-nav-menu--dropdown a.highlighted,
					.elementor-137 .elementor-element.elementor-element-7393cb4 .elementor-menu-toggle:hover{color:var( --e-global-color-accent );}.elementor-137 .elementor-element.elementor-element-7393cb4 .elementor-nav-menu--dropdown a:hover,
					.elementor-137 .elementor-element.elementor-element-7393cb4 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-137 .elementor-element.elementor-element-7393cb4 .elementor-nav-menu--dropdown a.highlighted{background-color:var( --e-global-color-primary );}.elementor-137 .elementor-element.elementor-element-7393cb4 .elementor-nav-menu--dropdown a.elementor-item-active{color:var( --e-global-color-accent );background-color:var( --e-global-color-primary );}.elementor-137 .elementor-element.elementor-element-7393cb4 .elementor-nav-menu--dropdown .elementor-item, .elementor-137 .elementor-element.elementor-element-7393cb4 .elementor-nav-menu--dropdown  .elementor-sub-item{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );text-transform:var( --e-global-typography-primary-text-transform );}body:not(.rtl) .elementor-137 .elementor-element.elementor-element-7393cb4{left:0px;}body.rtl .elementor-137 .elementor-element.elementor-element-7393cb4{right:0px;}.elementor-137 .elementor-element.elementor-element-7393cb4{top:0px;}.elementor-137 .elementor-element.elementor-element-f7df109{text-align:center;}.elementor-137 .elementor-element.elementor-element-f7df109 img{width:200px;}.elementor-137 .elementor-element.elementor-element-f7df109 > .elementor-widget-container{padding:10px 10px 10px 10px;}.elementor-137 .elementor-element.elementor-element-16c0372 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(0px/2);}.elementor-137 .elementor-element.elementor-element-16c0372 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(0px/2);}.elementor-137 .elementor-element.elementor-element-16c0372 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(0px/2);margin-left:calc(0px/2);}.elementor-137 .elementor-element.elementor-element-16c0372 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-0px/2);margin-left:calc(-0px/2);}body.rtl .elementor-137 .elementor-element.elementor-element-16c0372 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-0px/2);}body:not(.rtl) .elementor-137 .elementor-element.elementor-element-16c0372 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-0px/2);}.elementor-137 .elementor-element.elementor-element-16c0372 .elementor-icon-list-icon i{transition:color 0.3s;}.elementor-137 .elementor-element.elementor-element-16c0372 .elementor-icon-list-icon svg{transition:fill 0.3s;}.elementor-137 .elementor-element.elementor-element-16c0372{--e-icon-list-icon-size:14px;--icon-vertical-offset:0px;width:var( --container-widget-width, calc(50% - 130px) );max-width:calc(50% - 130px);--container-widget-width:calc(50% - 130px);--container-widget-flex-grow:0;}.elementor-137 .elementor-element.elementor-element-16c0372 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-137 .elementor-element.elementor-element-16c0372 .elementor-icon-list-item > a{font-family:"Montserrat", Sans-serif;font-size:12px;font-weight:700;text-transform:uppercase;letter-spacing:1px;}.elementor-137 .elementor-element.elementor-element-16c0372 .elementor-icon-list-text{color:var( --e-global-color-primary );transition:color 0.3s;}.elementor-137 .elementor-element.elementor-element-16c0372.elementor-element{--flex-grow:1;--flex-shrink:0;}@media(min-width:768px){.elementor-137 .elementor-element.elementor-element-de2708f{--content-width:1500px;}}@media(max-width:1024px){.elementor-137 .elementor-element.elementor-element-de2708f{--justify-content:center;}.elementor-137 .elementor-element.elementor-element-7393cb4{--nav-menu-icon-size:25px;width:100%;max-width:100%;top:0%;}body:not(.rtl) .elementor-137 .elementor-element.elementor-element-7393cb4{left:0%;}body.rtl .elementor-137 .elementor-element.elementor-element-7393cb4{right:0%;}}@media(max-width:767px){.elementor-137 .elementor-element.elementor-element-de2708f{--padding-top:05px;--padding-bottom:10px;--padding-left:20px;--padding-right:20px;}}/* Start custom CSS for theme-site-logo, class: .elementor-element-f7df109 */.elementor-137 .elementor-element.elementor-element-f7df109 img {
    object-position: center;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-de2708f */@media screen and (max-width: 371px) {
    .elementor-137 .elementor-element.elementor-element-de2708f .e-con-inner {
        gap: 0;
    }
}/* End custom CSS */
/* Start custom CSS */#header {
    transition: 1s all ease;
    width: 100% !important;
    inset-inline-start: 0 !important;
}
#header:before {
    height: 150%;
    pointer-events: none;
}
.head-background {
    background-color: #FFFFFF80;
}
#logo {
    cursor: pointer;
}
.desk-menu ul {
    opacity: 0;
    transition: 1s all ease;
    transform: translateX(-100%);
    justify-content: space-between !important;
    gap: 5%;
}
.desk-menu.top-left ul {
    transform: translateX(100%);
}
.desk-menu.active ul {
    transform: translateX(0);
    opacity: 1;
}

.m-click {
    display: none !important;
}

@media screen and (max-width: 1024px) {
    
    .m-click {
        display: flex !important;
    }
    .elementor-menu-toggle {
        opacity: 0;
    }
    .elementor-menu-toggle.elementor-active {
        position: fixed;
        opacity: 1;
        z-index: 1000000000;
        right: 0;
        width: 100%;
        max-width: 100%;
        padding: 14px;
        /*transform: translateX(-50%);*/
        bottom: 0px;
        /*background-color: #fff;*/
        color: #fff !important;
    }
    .elementor-menu-toggle__icon--close.eicon-close:before {
        content: "\f00d";
        font-family: "Font Awesome 6 Pro";
        font-weight: 200;
        font-size: 30px;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
    .elementor-nav-menu--dropdown.elementor-nav-menu__container {
        position: fixed;
        right: 0px;
        z-index: 100000000;
        top: 0px;
        margin-top: 0px !important;
        width: 100%;
        max-width: 100%;
        height: 100vh;
        max-height: 100vh !important;
        padding-bottom: 80px;
        background-color: #9c2931;
    }
    .elementor-nav-menu--dropdown ul {
        position: absolute;
        top: 47%;
        transform: translateY(-50%);
        width: 100%;
    }
    .elementor-nav-menu--dropdown ul li {
        text-align: center;
    }
    .elementor-nav-menu--dropdown ul li a,
    .elementor-nav-menu--dropdown ul li a:hover {
        display: inline-flex;
        justify-content: center;
        padding: 15px 30px !important;
        font-weight: 900;
        font-size: 2em;
        line-height: 1.5em;
    }
    .elementor-nav-menu--dropdown .sub-menu  {
        display: block !important;
        position: relative;
        /*background-color: #fff0;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;*/
    }
    .elementor-nav-menu--dropdown .sub-menu li {
        background-color: #00000029;
    }
    .elementor-nav-menu--dropdown.elementor-nav-menu__container .elementor-sub-item {
        font-size: .95em !important;
    }
    
    .sub-menu li {
        float: none;
        clear: none;
    }
    .sub-menu li a {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}/* End custom CSS */